# Ignore Python bytecode
*.pyc
*.pyo
__pycache__

# Ignore virtual environments
venv/
env/
*.env

# Ignore Docker-related files
Dockerfile*
.dockerignore

# Ignore system files
.DS_Store
.idea/
.vscode/

# Ignore log files
*.log

# Ignore tests or local configs if not needed
tests/
*.md
*.json

